body {
    font-size: 40px;
    background: #16171b;
    margin: 20px;
    color: #fff;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    border: 20px solid #edddbd;
    min-height: 100vh;
    box-shadow: 0 0 3.75rem -0.625rem #00000066;
}
.flexbox__item {
    border: 20px solid #b9a074;
}
.flexbox__item:nth-child(2) .flexbox__content {
    padding: 60px 40px;
}
.flexbox__content {
    border: none;
    padding: 40px;
    background: linear-gradient(#6f4916, #7e5926);
}

/* ============================= */

.flexbox {
    display: flex;
        /* justify-content: center;
        align-items: stretch; */
    flex-wrap: wrap ;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly ;
}

.flexbox__item-one{
    /* align-self: start; */
    /* order: 3; */
    /* flex-basis: 23%;
    flex-grow: 1; */
}

.flexbox__item-two{
    /* order: 1; */
    flex-basis: 700px;
    /* flex-grow: 1; */
    flex-shrink: 0 ;
} 

.flexbox__item-three{
    /* order: 2; */
    flex: 0 1 200px;
}
